<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="label(title, value)">
    <td class="col-1 bg-light text-end pe-3" th:text="${title}"></td>
    <td class="col-1" th:text="${value}"></td>
</th:block>
<th:block th:fragment="label2(title, value)">
    <td class="col-1 bg-light text-end pe-3" th:text="${title}"></td>
    <td class="col-3" colspan="3" th:text="${value}"></td>
</th:block>
<th:block th:fragment="label3(title, value)">
    <td class="col-1 bg-light text-end pe-3" th:text="${title}"></td>
    <td class="col-5" colspan="5" th:text="${value}"></td>
</th:block>

<th:block th:fragment="fileLink(fileInfo, delete)" th:if="${fileInfo!=null}">
    <a th:href="@{/fileInfo/download(fileId=${fileInfo.fileId})}" th:text="${fileInfo.filename}"></a>
    <button sec:authorize="hasAuthority('fileInfo:delete')" th:if="${delete}" type="button" class="link-danger btn-delete" th:attr="data-url=@{/fileInfo/delete.json(id=${fileInfo.id})}"><i class="fa-regular fa-trash-can"></i></button>
</th:block>


<th:block th:fragment="imageLink(fileInfo, width, height)" th:if="${fileInfo!=null}">
    <div>
        <img th:src="@{/fileInfo/show(fileId=${fileInfo.fileId})}" th:width="${width?:100}" th:height="${height?:100}"/>
        <a sec:authorize="hasAuthority('fileInfo:delete')"  th:attr="data-url=@{/fileInfo/delete.json(id=${fileInfo.id})}" href="#" class="link-danger btn-delete"><i class="fa-regular fa-trash-can"></i></a>
    </div>
</th:block>

<th:block th:fragment="projectTitle(xmmc)">
    <div class="row my-4">
        <h5 class="col-8" th:text="${xmmc}"></h5>
        <div class="col-4 text-end">
        </div>
    </div>
</th:block>

<th:block th:fragment="flowSetting(item)">
    <th:block th:if="${item!=null}">
        <div class="card text-dark bg-light mb-1">
            <div class="card-header" th:text="${item.lcmc}"></div>
            <div class="card-body">
                <p class="card-text">
                    <small>角色：<span th:text="${#strings.defaultString(#dicts.value('sysRole', item.czjs), '任何')}"></span>；</small>
                    <small class="ms-2">审核者：<span th:text="${#strings.defaultString(item.czyh, '任何')}"></span></small>
                </p>
            </div>
            <div class="card-footer bg-transparent text-end">
                <button th:attr="data-url=@{/devApplyFlowSetting/update(id=${item.id})}" type="button" class="btn btn-sm btn-primary btn-form">设置</button>
                <button th:if="${item.sfks!='1' && item.sfjs!='1'}" th:attr="data-url=@{/devApplyFlowSetting/delete.json(id=${item.id})}" type="button" class="btn btn-sm btn-danger btn-delete">删除</button>
            </div>
        </div>
        <div th:if="${item.sfjs!='1'}" class="text-center">
            <div class="vr"></div>
            <a th:attr="data-url=@{/devApplyFlowSetting/create(fid=${item.id})}" href="#" class="ps-1 btn-form"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
        <th:block th:replace="common/component::flowSetting(${item.next})"></th:block>
    </th:block>
</th:block>
</html>