<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<th:block th:fragment="title(mc)">
    <div class="row my-4">
        <h5 class="col-8" th:text="${mc}"></h5>
        <div class="col-4 text-end">
        </div>
    </div>
</th:block>

<div th:fragment="menu(id, active)" class="list-group">
    <a sec:authorize="hasAuthority('devProject:view')" th:href="@{/devProject/view(id=${id})}" th:classappend="${active=='view'}?'active'" class="list-group-item list-group-item-action">基础信息</a>
    <a sec:authorize="hasAuthority('devProject:listDocument')" th:href="@{/devProject/listDocument(id=${id})}" th:classappend="${active=='document'}?'active'" class="list-group-item list-group-item-action">文档资料</a>
    <a sec:authorize="hasAuthority('devProject:listContract')" th:href="@{/devProject/listContract(id=${id})}" th:classappend="${active=='business'}?'active'" class="list-group-item list-group-item-action">商务合同</a>
    <a sec:authorize="hasAuthority('devProject:listPerformanceAssignment')"  th:href="@{/devProject/listPerformanceAssignment(id=${id})}" th:classappend="${active=='performance'}?'active'" class="list-group-item list-group-item-action">项目绩效</a>
    <a sec:authorize="hasAuthority('devProject:listApplication')" th:href="@{/devProject/listApplication(id=${id})}" th:classappend="${active=='deploy'}?'active'" class="list-group-item list-group-item-action">部署环境</a>
</div>

<div th:fragment="viewMenu(id, active)" class="mb-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a sec:authorize="hasAuthority('devProject:view')" th:href="@{/devProject/view(id=${id})}" th:classappend="${active=='basic'}?'active'" class="nav-link">基本信息</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="hasAuthority('devProject:listStaff')" th:href="@{/devProject/listStaff(id=${id})}" th:classappend="${active=='staff'}?'active'" class="nav-link">参与人员</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="hasAuthority('devProject:listContact')" th:href="@{/devProject/listContact(id=${id})}" th:classappend="${active=='contact'}?'active'" class="nav-link">联系人</a>
        </li>
    </ul>
</div>

<div th:fragment="businessMenu(id, active)" class="mb-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a sec:authorize="hasAuthority('devProject:listContract')" th:href="@{/devProject/listContract(id=${id})}" th:classappend="${active=='contract'}?'active'" class="nav-link">合同信息</a>
        </li>
    </ul>
</div>

<div th:fragment="performanceMenu(id, active)" class="mb-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a sec:authorize="hasAuthority('devProject:listPerformanceAssignment')" th:href="@{/devProject/listPerformanceAssignment(id=${id})}" th:classappend="${active=='assignment'}?'active'" class="nav-link">绩效分配</a>
        </li>
    </ul>
</div>

<div th:fragment="deployMenu(id, active)" class="list-group mb-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a sec:authorize="hasAuthority('devProject:listApplication')" th:href="@{/devProject/listApplication(id=${id})}" th:classappend="${active=='application'}?'active'" class="nav-link">应用系统</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="hasAuthority('devProject:listDeploy')" th:href="@{/devProject/listDeploy(id=${id})}" th:classappend="${active=='deploy'}?'active'" class="nav-link">部署路径</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="hasAuthority('devProject:listServer')" th:href="@{/devProject/listServer(id=${id})}" th:classappend="${active=='server'}?'active'" class="nav-link">服务器</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="hasAuthority('devProject:listDatabase')" th:href="@{/devProject/listDatabase(id=${id})}" th:classappend="${active=='database'}?'active'" class="nav-link">数据库</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="hasAuthority('devProject:listMiddleware')"  th:href="@{/devProject/listMiddleware(id=${id})}" th:classappend="${active=='middleware'}?'active'" class="nav-link">中间件</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="hasAuthority('devProject:listMiniapp')" th:href="@{/devProject/listMiniapp(id=${id})}" th:classappend="${active=='miniapp'}?'active'" class="nav-link">小程序</a>
        </li>
    </ul>
</div>
</html>