<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('basic')"/>
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-2">
            <div th:replace="common/menu::basic('devDocumentCatalog')"></div>
        </div>
        <div class="col-10">
            <div th:replace="common/menu::devDocumentCatalog('project')"></div>
            <div class="row mt-4">
                <div class="col-6 t-4 pb-4" id="tree" style="overflow-x: scroll">
                </div>
                <div class="col-6">
                    <div class="row">
                        <h5 class="col" th:text="${devDocumentCatalogDTO.lbmc}"></h5>
                        <div class="col text-end">
                            <button sec:authorize="hasAuthority('devDocumentCatalog:create')" th:attr="data-url=@{/devDocumentCatalog/create(fid=${devDocumentCatalogDTO.id})}" type="button" class="btn btn-primary btn-form">新增</button>
                            <button sec:authorize="hasAuthority('devDocumentCatalog:update')" th:attr="data-url=@{/devDocumentCatalog/update(id=${devDocumentCatalogDTO.id})}" type="button" class="btn btn-primary btn-form">编辑</button>
                            <button sec:authorize="hasAuthority('devDocumentCatalog:delete')" th:attr="data-url=@{/devDocumentCatalog/delete.json(id=${devDocumentCatalogDTO.id})}" type="button" class="btn btn-danger btn-delete">删除</button>
                            <button sec:authorize="hasAuthority('fileInfo:upload')" th:if="${devDocumentCatalogDTO.sfwml=='0'}" th:attr="data-url=@{/fileInfo/upload(bizId=${devDocumentCatalogDTO.id},bizTable=DevDocumentCatalog)}" type="button" class="btn btn-primary btn-form">上传参考</button>
                        </div>
                    </div>
                    <table class="table mt-3" th:if="${fileInfoDTOList!=null}">
                        <tr>
                            <th>名称</th>
                            <th>操作</th>
                        </tr>
                        <tr th:if="${#lists.isEmpty(fileInfoDTOList)}">
                            <td colspan="4" class="text-center">没有符合条件的记录</td>
                        </tr>
                        <tr th:each="item:${fileInfoDTOList}">
                            <td>
                                <a th:href="@{/fileInfo/download(fileId=${item.fileId})}" th:text="${item.filename}"></a>
                            </td>
                            <td>
                                <button sec:authorize="hasAuthority('fileInfo:delete')" th:attr="data-url=@{/fileInfo/delete.json(id=${item.id})}" type="button" class="btn btn-outline-danger btn-sm btn-delete">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#tree').jstree({
            core: {
                multiple: false,
                check_callback: true,
                data: {
                    url: ctxPath + 'devDocumentCatalog/tree.json',
                    data: function (node) {
                        return {
                            id: node.id,
                        };
                    }
                },
            },
            plugins: ['dnd']
        }).on('select_node.jstree', function (e, data) {
            window.location.href = ctxPath + 'devDocumentCatalog/project?id=' + data.node.id;
        });

        $(document).on('dnd_stop.vakata', function (e, data) {
            const tree = $('#tree').jstree(true);
            const node = tree.get_node(data.element, false);
            const parent = tree.get_node(node.parent, false);
            const children = tree.get_children_dom(parent);
            const idArr = $.map(children, function(c){
                return c.id
            })
            $.ajax({
                url: ctxPath + 'devDocumentCatalog/move.json?id=' + idArr.join('&id='),
                data: {fid: node.parent == '#' ? 0 : node.parent},
                type: 'post',
                dataType:'json',
            }).done(function (respdata){
                if (respdata.resultCode != 0) {
                    alert('发生错误:' + respdata.message);
                }
            });
        });

        initView();
        initForm();
        initDelete();

    });
</script>
</body>
</html>