<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.onelooker.kaleido.mapper.ActorMapper">

    <delete id="deleteByMovieIdAndRole">
        delete from movie_basic_actor
        where movie_id = #{movieId} and role = #{role}
    </delete>

    <delete id="deleteBySeasonIdAndRole">
        delete from tvshow_season_actor
        where season_id = #{seasonId} and role = #{role}
    </delete>
</mapper>
