<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.onelooker.kaleido.mapper.AuthorMapper">
    <delete id="deleteBySeriesIdAndRole">
        delete from comic_series_author
        where series_id = #{seriesId} and role = #{role}
    </delete>
</mapper>
