.idea/
logs/
dist/
**.iml
.venv/
node_modules/
.DS_Store
__pycache__/
.mvn/
.vscode/
.settings/

/backend/src/main/resources/static/assets/**
/backend/src/main/resources/static/favicon.png
/backend/src/main/resources/static/index.html