<div class="modal fade" tabindex="-1" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">账号信息</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/sysUser/{action}.json(action=${action})}" th:object="${sysUserDTO}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <th:block th:if="${action=='create'}">
                        <div class="mb-3">
                            <label class="form-label">用户名<i class="required"></i></label>
                            <input th:field="*{username}" type="text" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">密码<i class="required"></i></label>
                            <input th:field="*{password}" type="password" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">验证密码<i class="required"></i></label>
                            <input th:field="*{password2}" type="password" class="form-control" required>
                        </div>
                        <div class="mt-3 mb-3">
                            <label class="form-label">姓名<i class="required"></i></label>
                            <select th:field="*{employeeId}" class="form-control">
                                <option value="">请选择</option>
                                <option th:each="it:${#dicts.items('DevEmployee')}" th:value="${it.key}" th:text="${it.value}"></option>
                            </select>
                        </div>
                    </th:block>
                    <th:block th:if="${action=='update'}">
                        <div class="mb-3">
                            <label class="form-label">用户名</label>
                            <input th:field="*{username}" type="text" class="form-control" readonly>
                        </div>
                    </th:block>
                    <div class="mt-3 mb-3">
                        <label class="form-label">角色<i class="required"></i></label>
                        <select th:field="*{roleIds}" multiple="multiple" class="form-control">
                            <option th:each="it:${#dicts.items('SysRole')}" th:value="${it.key}" th:text="${it.value}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>