<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('basic')"/>
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-2">
            <div th:replace="common/menu::basic('devDepartment')"></div>
        </div>
        <div class="col-10">
            <div th:replace="common/menu::organization('sysUser')"></div>
            <div class="row mt-4">
                <div class="col-sm text-end">
                    <button sec:authorize="hasAuthority('sysUser:create')" th:attr="data-url=@{/sysUser/create}" type="button" class="btn btn-primary btn-form">新增</button>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>姓名</th>
                    <th>角色</th>
                    <th>是否锁定</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.isEmpty(pageData.records)}">
                    <td colspan="6" class="text-center">没有符合条件的记录</td>
                </tr>
                <tr th:each="item:${pageData.records}">
                    <td th:text="${itemStat.count}"></td>
                    <td th:text="${item.username}"></td>
                    <td th:text="${item.name}"></td>
                    <td>
                        <th:block th:each="it:${item.sysRoleDTOList}">
                            <span th:text="${it.name}"></span>
                            <span th:text="${!itStat.last}?'/'"></span>
                        </th:block>
                    </td>
                    <td th:text="${item.accountNonLocked}?'否':'是'"></td>
                    <td>
                        <button sec:authorize="hasAuthority('sysUser:setPassword')" th:attr="data-url=@{/sysUser/setPassword(id=${item.id})}" type="button" class="btn btn-outline-primary btn-sm btn-form">设置密码</button>
                        <button sec:authorize="hasAuthority('sysUser:lock')" th:attr="data-url=@{/sysUser/lock.json(id=${item.id},locked=${item.accountNonLocked})}" th:text="${item.accountNonLocked?'锁定':'解锁'}" type="button" class="btn btn-outline-primary btn-sm btn-action">锁定</button>
                        <button sec:authorize="hasAuthority('sysUser:update')" th:attr="data-url=@{/sysUser/update(id=${item.id})}" type="button" class="btn btn-outline-primary btn-sm btn-form">编辑</button>
                        <button sec:authorize="hasAuthority('sysUser:delete')" th:attr="data-url=@{/sysUser/delete.json(id=${item.id})}" type="button" class="btn btn-outline-danger btn-sm btn-delete">删除</button>
                    </td>
                </tr>
            </table>
            <div th:replace="common/pagination::paginate(${pageData})"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        initForm(function ($modal, $html) {
            initAutocomplete($html.find('#name'), ctxPath + 'devEmployee/list.json');
            $html.find('#roleIds').select2({
                theme: 'bootstrap-5'
            });
        });
        initDelete();
        initAction();
    });
</script>
</body>
</html>