<div xmlns:th="http://www.thymeleaf.org" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">数据库</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered mb-5" th:object="${devMiniappDTO}">
          <tr>
            <th:block th:replace="common/component::label('小程序类型', *{#dicts.value('xcxlx', xcxlx)})"/>
            <th:block th:replace="common/component::label2('小程序名称', *{xcxmc})"/>
          </tr>
          <tr>
            <th:block th:replace="common/component::label('管理账号', *{adminUsername})"/>
            <th:block th:replace="common/component::label('管理密码', *{adminPassword})"/>
            <th:block th:replace="common/component::label('管理员', *{adminName})"/>
          </tr>
          <tr>
            <th:block th:replace="common/component::label('机构名称', *{jgmc})"/>
            <th:block th:replace="common/component::label('社会信用代码', *{shxydm})"/>
            <th:block th:replace="common/component::label('单位电话', *{dwdm})"/>
          </tr>
          <tr>
            <th:block th:replace="common/component::label('负责人', *{fzr})"/>
            <th:block th:replace="common/component::label('负责人邮箱', *{fzryx})"/>
            <th:block th:replace="common/component::label('负责人联系电话', *{fzrlxdh})"/>
          </tr>
          <tr>
            <th:block th:replace="common/component::label3('备注', *{bz})"/>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>