<div xmlns:th="http://www.thymeleaf.org" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">小程序类型</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/devMiniapp/{action}.json(action=${action})}" th:object="${devMiniappDTO}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{projectId}"/>
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">小程序类型<i class="required"></i></label>
                            <select th:field="*{xcxlx}" class="form-control" required>
                                <option value="">请选择</option>
                                <option th:each="it:${#dicts.items('xcxlx')}" th:value="${it.key}" th:text="${it.value}"></option>
                            </select>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">小程序名称<i class="required"></i></label>
                            <input type="text" th:field="*{xcxmc}" class="form-control" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">管理账号</label>
                            <input type="text" th:field="*{adminUsername}" class="form-control" />
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">管理密码</label>
                            <input type="text" th:field="*{adminPassword}" class="form-control" />
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">管理员</label>
                            <input type="text" th:field="*{adminName}" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">机构名称</label>
                            <input type="text" th:field="*{jgmc}" class="form-control" />
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">社会信用代码</label>
                            <input type="text" th:field="*{shxydm}" class="form-control"/>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">单位电话</label>
                            <input type="text" th:field="*{dwdm}" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">负责人</label>
                            <input type="text" th:field="*{fzr}" class="form-control" />
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">负责人邮箱</label>
                            <input type="text" th:field="*{fzryx}" class="form-control"/>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">负责人联系电话</label>
                            <input type="text" th:field="*{fzrlxdh}" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label">备注</label>
                            <textarea th:field="*{bz}" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>