<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('basic')"/>
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-2">
            <div th:replace="common/menu::basic('devVpn')"></div>
        </div>
        <div class="col-10">
            <form th:action="@{/devVpn/list}" th:object="${devVpnDTO}" method="get">
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" th:field="*{mc}" class="form-control" placeholder="软件名称">
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary">查询</button>
                    </div>
                    <div class="col-sm text-end">
                        <button sec:authorize="hasAuthority('devVpn:create')" th:attr="data-url=@{/devVpn/create}" type="button" class="btn btn-primary btn-form">新增</button>
                    </div>
                </div>
            </form>
            <table class="table mt-3">
                <tr>
                    <th>序号</th>
                    <th>软件名称</th>
                    <th>附件</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.isEmpty(pageData.records)}">
                    <td colspan="4" class="text-center">没有符合条件的记录</td>
                </tr>
                <tr th:each="item:${pageData.records}">
                    <td th:text="${itemStat.count}"></td>
                    <td th:text="${item.mc}"></td>
                    <td>
                        <ul class="list-unstyled" th:if="${!#lists.isEmpty(item.fileInfoDTOList)}">
                            <li th:each="it:${item.fileInfoDTOList}">
                                <a th:replace="common/component::fileLink(${it}, true)"></a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <button sec:authorize="hasAuthority('fileInfo:upload')" th:attr="data-url=@{/fileInfo/upload(bizId=${item.id},bizTable=DevVpn)}" type="button" class="btn btn-outline-primary btn-sm btn-form">上传附件</button>
                        <button sec:authorize="hasAuthority('devVpn:update')" th:attr="data-url=@{/devVpn/update(id=${item.id})}" type="button" class="btn btn-outline-primary btn-sm btn-form">编辑</button>
                        <button sec:authorize="hasAuthority('devVpn:delete')" th:attr="data-url=@{/devVpn/delete.json(id=${item.id})}" type="button" class="btn btn-outline-danger btn-sm btn-delete">删除</button>
                    </td>
                </tr>
            </table>
            <div th:replace="common/pagination::paginate(${pageData})"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        initForm();
        initDelete();
    });
</script>
</body>
</html>