<div class="modal fade" tabindex="-1" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">设置参与人员职责</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/devProjectStaff/update.json}"  th:object="${devProjectStaffDTO}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label">姓名</label>
                            <input type="text" th:value="*{devEmployeeDTO.xm}" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label">部门</label>
                            <input type="text" th:value="*{#dicts.value('devDepartment', devEmployeeDTO.departmentId)}" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="col mb-3">
                            <label class="form-label">岗位</label>
                            <input type="text" th:value="*{#dicts.value('gw', devEmployeeDTO.gw)}" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="col mb-3">
                            <label class="form-label">职责</label>
                            <textarea th:field="*{zz}" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>