<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('basic')"/>
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-2">
            <div th:replace="common/menu::basic('devDepartment')"></div>
        </div>
        <div class="col-10">
            <div th:replace="common/menu::organization('devEmployee')"></div>

            <form th:action="@{/devEmployee/list}" th:object="${devEmployeeDTO}" method="get" class="mt-4">
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" th:field="*{xm}" class="form-control" placeholder="姓名">
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary">查询</button>
                    </div>
                    <div class="col-sm text-end">
                        <button sec:authorize="hasAuthority('devEmployee:create')" th:attr="data-url=@{/devEmployee/create(fid=${#request.getParameter('id')})}" type="button" class="btn btn-primary btn-form">新增</button>
                    </div>
                </div>
            </form>
            <table class="table mt-3">
                <tr>
                    <th>序号</th>
                    <th>部门</th>
                    <th>姓名</th>
                    <th>联系电话</th>
                    <th>岗位</th>
                    <th>定级</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.isEmpty(pageData.records)}">
                    <td colspan="8" class="text-center">没有符合条件的记录</td>
                </tr>
                <tr th:each="item:${pageData.records}">
                    <td th:text="${itemStat.count}"></td>
                    <td th:text="${#dicts.value('devDepartment', item.departmentId)}"></td>
                    <td th:text="${item.xm}"></td>
                    <td th:text="${item.lxdh}"></td>
                    <td th:text="${#dicts.value('gw', item.gw)}"></td>
                    <td th:text="${#dicts.value('kfpj', item.dj)}"></td>
                    <td th:text="${#dicts.value('ygzt', item.zt)}"></td>
                    <td>
                        <button sec:authorize="hasAuthority('devEmployee:update')" th:attr="data-url=@{/devEmployee/update(id=${item.id})}" type="button" class="btn btn-outline-primary btn-sm btn-form">编辑</button>
                        <button sec:authorize="hasAuthority('devEmployee:delete')" th:attr="data-url=@{/devEmployee/delete.json(id=${item.id})}" type="button" class="btn btn-outline-danger btn-sm btn-delete">删除</button>
                    </td>
                </tr>
            </table>
            <div th:replace="common/pagination::paginate(${pageData})"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        initForm();
        initDelete();
    });
</script>
</body>
</html>