<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('examine')"/>
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-2">
            <div th:replace="common/menu::examine('examine')"></div>
        </div>
        <div class="col-10">
            <div class="row mt-4">
                <div class="col-sm">
                    <h5 th:text="${devExamineDTO.khbfmc}"></h5>
                </div>
                <div class="col-sm text-end">
                    <button sec:authorize="hasAuthority('devExamineItem:create')" th:attr="data-url=@{/devExamineItem/create(examineId=${devExamineDTO.id})}" type="button" class="btn btn-primary btn-form">新增指标</button>
                </div>
            </div>
            <table class="table mt-3">
                <tr>
                    <th>序号</th>
                    <th>指标</th>
                    <th>分值</th>
                    <th>目标值</th>
                    <th>适用岗位</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.isEmpty(devExamineItemDTOList)}">
                    <td colspan="6" class="text-center">没有符合条件的记录</td>
                </tr>
                <tr th:each="item:${devExamineItemDTOList}">
                    <td th:text="${itemStat.count}"></td>
                    <td th:text="${item.zbmc}"></td>
                    <td th:text="${item.fz}"></td>
                    <td th:text="${item.zbsm}"></td>
                    <td th:text="${#strings.defaultString(#dicts.value('gw', item.sygw),'全部')}"></td>
                    <td>
                        <button sec:authorize="hasAuthority('devExamineItem:update')" th:attr="data-url=@{/devExamineItem/update(id=${item.id})}" type="button" class="btn btn-outline-primary btn-sm btn-form">编辑</button>
                        <button sec:authorize="hasAuthority('devExamineItem:delete')" th:attr="data-url=@{/devExamineItem/delete.json(id=${item.id})}" type="button" class="btn btn-outline-danger btn-sm btn-delete">删除</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        initForm();
        initDelete();
    });
</script>
</body>
</html>