<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">
<head>
    <script th:src="@{/static/plugins/js-spark-md5/spark-md5.min.js}"></script>
</head>
<body layout:fragment="content">
<nav th:replace="common/nav::nav('devProject')"/>
<div class="container-fluid">
    <th:block th:replace="common/project::title(${devProjectDTO.xmmc})"/>
    <div class="row">
        <div class="col-2">
            <th:block th:replace="common/project::menu(${devProjectDTO.id}, 'document')"/>
        </div>
        <div class="col-10">
            <div class="mb-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a sec:authorize="hasAuthority('devProject:document')" th:href="@{/devProject/document(id=${devProjectDTO.id})}" class="nav-link active">文档资料</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-6 pb-4" id="tree" style="overflow-x: scroll">
                </div>
                <div class="col-6">
                    <div class="row">
                        <h5 class="col" th:text="${devDocumentCatalogDTO.lbmc}"></h5>
                        <div class="col text-end">
                            <button sec:authorize="hasAuthority('devDocument:upload')" th:attr="data-url=@{/devDocument/upload(projectId=${devProjectDTO.id},catalogId=${devDocumentCatalogDTO.id})}" type="button" class="btn btn-primary btn-form">上传</button>
                            <a sec:authorize="hasAuthority('devDocumentCatalog:download')" th:href="@{/devDocumentCatalog/download(projectId=${devProjectDTO.id},id=${devDocumentCatalogDTO.id})}" class="btn btn-success btn-form">下载</a>
                            <button sec:authorize="hasAuthority('devDocumentCatalog:view')" th:if="${devDocumentCatalogDTO.sfwml=='0'}" th:attr="data-url=@{/devDocumentCatalog/view(id=${devDocumentCatalogDTO.id})}" type="button" class="btn btn-secondary btn-view">参考文档</button>
                        </div>
                    </div>
                    <table class="table mt-3" th:if="${devDocumentDTOList!=null}">
                        <tr>
                            <th>名称</th>
                            <th>操作</th>
                        </tr>
                        <tr th:if="${#lists.isEmpty(devDocumentDTOList) && #lists.isEmpty(devDocumentCatalogDTOList)}">
                            <td colspan="4" class="text-center">没有符合条件的记录</td>
                        </tr>
                        <tr th:each="item:${devDocumentCatalogDTOList}">
                            <td>
                                <i class="icon-folder"></i>
                                <th:block sec:authorize="hasAuthority('devProject:listDocument')">
                                    <a th:href="@{/devProject/listDocument(id=${devProjectDTO.id},catalogId=${item.id})}" th:text="${item.lbmc}"></a>
                                </th:block>
                                <th:block sec:authorize="!hasAuthority('devProject:listDocument')">
                                    <span th:text="${item.lbmc}"></span>
                                </th:block>
                            </td>
                            <td>
                                <a sec:authorize="hasAuthority('devDocumentCatalog:download')" th:href="@{/devDocumentCatalog/download(projectId=${devProjectDTO.id},id=${item.id})}" class="btn btn-outline-primary btn-sm">下载</a>
                                <button sec:authorize="hasAuthority('devDocumentCatalog:delete')" th:if="${item.sfwmb=='0'}" th:attr="data-url=@{/devDocumentCatalog/delete.json(id=${item.id})}" type="button" class="btn btn-outline-danger btn-sm btn-delete">删除</button>
                            </td>
                        </tr>
                        <tr th:each="item:${devDocumentDTOList}">
                            <td>
                                <i class="icon-file"></i>
                                <span th:text="${item.wdmc}"></span>
                            </td>
                            <td>
                                <button sec:authorize="hasAuthority('devDocument:view')" th:attr="data-url=@{/devDocument/view(id=${item.id})}" type="button" class="btn btn-outline-primary btn-sm btn-view">下载</button>
                                <button sec:authorize="hasAuthority('devDocument:delete')" th:attr="data-url=@{/devDocument/delete.json(id=${item.id})}" type="button" class="btn btn-outline-danger btn-sm btn-delete">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        let urlParams = new URLSearchParams(window.location.search);
        $('#tree').jstree({
            core: {
                check_callback: function (operation, node, node_parent, node_position, more) {
                    return operation === 'move_node'
                    && node.original.type === 'file'
                    && (node_parent.original && node_parent.original.type === 'folder');
                },
                data: {
                    url: ctxPath + 'devProject/docTree.json',
                    data: function (node) {
                        return {
                            id: urlParams.get('id'),
                            catalogId: urlParams.get('catalogId')
                        };
                    }
                }
            },
            plugins: ['dnd']
        }).on('select_node.jstree', function (e, data) {
            if (data.node.original.type == 'folder') {
                window.location.href = ctxPath + 'devProject/listDocument?id=' + urlParams.get('id')
                    + '&catalogId=' + data.node.id;
            }
        });
        $(document).on('dnd_stop.vakata', function (e, data) {
            const node = $('#tree').jstree(true).get_node(data.element, false);
            $.ajax({
                url: ctxPath + 'devDocument/move.json',
                data: {id: node.id, catalogId: node.parent == '#' ? 0 : node.parent},
                type: 'post',
                dataType:'json',
            }).done(function (respdata){
                if (respdata.resultCode != 0) {
                    alert('发生错误:' + respdata.message);
                }
            });
        });
        initForm(function($modal, $html){
            $html.find('[name="file"]').on('change', function(){
                try {
                    const file =  $(this)[0].files[0];
                    const fileReader = new FileReader();
                    const btn = $html.find('.btn-save');
                    btn.prop('disabled', true);
                    fileReader.readAsBinaryString(file);
                    fileReader.onload = e => {
                        const md5 = SparkMD5.hashBinary(e.target.result);
                        $html.find('[name="md5"]').val(md5);
                        btn.prop('disabled', false);
                    }
                    const lastModifiedDate = file.lastModifiedDate.toLocaleString().replaceAll('/', '-');
                    $html.find('[name="zjxgsj"]').val(lastModifiedDate);

                } catch (e){
                }
            })
        });
        initDelete();
        initView();
    });
</script>
</body>
</html>