<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('devProject')"/>
<div class="container-fluid">
    <th:block th:replace="common/project::title(${devProjectDTO.xmmc})"/>
    <div class="row">
        <div class="col-2">
            <th:block th:replace="common/project::menu(${devProjectDTO.id}, 'deploy')"/>
        </div>
        <div class="col-10">
            <th:block th:replace="common/project::deployMenu(${devProjectDTO.id}, 'miniapp')"/>
            <div class="row">
                <div class="col text-danger">
                    * 通过上传二维码，添加程序入口
                </div>
                <div class="text-end">
                    <button sec:authorize="hasAuthority('devMiniapp:create')" th:attr="data-url=@{/devMiniapp/create(projectId=${devProjectDTO.id})}" type="button" class="btn btn-primary btn-form">新增</button>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>序号</th>
                    <th>小程序名称</th>
                    <th>小程序类型</th>
                    <th>程序入口</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.isEmpty(devMiniappDTOList)}">
                    <td colspan="5" class="text-center">没有符合条件的记录</td>
                </tr>
                <tr th:each="item:${devMiniappDTOList}">
                    <td th:text="${itemStat.count}"></td>
                    <td th:text="${item.xcxmc}"></td>
                    <td th:text="${#dicts.value('xcxlx', item.xcxlx)}"></td>
                    <td><th:block th:replace="common/component::imageLink(${item.fileInfoDTO}, 100, 100)"/></td>
                    <td>
                        <button sec:authorize="hasAuthority('devMiniapp:view')" th:attr="data-url=@{/devMiniapp/view(id=${item.id})}" type="button" class="btn btn-outline-primary btn-sm btn-view">详情</button>
                        <button sec:authorize="hasAuthority('fileInfo:upload')" th:attr="data-url=@{/fileInfo/upload(bizId=${item.id},bizTable=DevMiniapp,accept='image/*')}" type="button" class="btn btn-outline-primary btn-sm btn-form">上传二维码</button>
                        <button sec:authorize="hasAuthority('devMiniapp:update')" th:attr="data-url=@{/devMiniapp/update(id=${item.id})}" type="button" class="btn btn-outline-primary btn-sm btn-form">编辑</button>
                        <button sec:authorize="hasAuthority('devMiniapp:delete')" th:attr="data-url=@{/devMiniapp/delete.json(id=${item.id})}" type="button" class="btn btn-outline-danger btn-sm btn-delete">删除</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    $(function (){
        initView()
        initDelete();
        initForm(function ($modal, $html) {
            $html.find('#sfxyljvpn').on('change', function () {
                if ($(this).val() == '1') {
                    $html.find('#vpn').removeClass('d-none');
                } else {
                    $html.find('#vpn').addClass('d-none');
                }
            });
            $html.find('#sfxyljywxt').on('change', function () {
                if ($(this).val() == '1') {
                    $html.find('#ywxt').removeClass('d-none');
                } else {
                    $html.find('#ywxt').addClass('d-none');
                }
            });
        });
    });
</script>
</body>
</html>