<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('devProject')"/>
<div class="container-fluid">
    <th:block th:replace="common/project::title(${devProjectDTO.xmmc})"/>
    <div class="row">
        <div class="col-2">
            <th:block th:replace="common/project::menu(${devProjectDTO.id}, 'view')"/>
        </div>
        <div class="col-10">
            <th:block th:replace="common/project::viewMenu(${devProjectDTO.id}, 'contact')"/>
            <div class="row">
                <div class="col text-danger">
                    * 记录非本公司的联系人，包括客户、合作单位、协助单位等。
                </div>
                <div class="col text-end">
                    <button sec:authorize="hasAuthority('devProjectContact:create')" th:attr="data-url=@{/devProjectContact/create(projectId=${devProjectDTO.id})}" type="button" class="btn btn-primary btn-form">新增</button>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>序号</th>
                    <th>单位</th>
                    <th>姓名</th>
                    <th>联系电话</th>
                    <th>负责事宜</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.isEmpty(devProjectContactDTOList)}">
                    <td colspan="6" class="text-center">没有符合条件的记录</td>
                </tr>
                <tr th:each="item:${devProjectContactDTOList}">
                    <td th:text="${itemStat.count}"></td>
                    <td th:text="${item.gzdw}"></td>
                    <td th:text="${item.xm}"></td>
                    <td th:text="${item.lxdh}"></td>
                    <td th:text="${item.fzsy}"></td>
                    <td>
                        <button sec:authorize="hasAuthority('devProjectContact:view')" th:attr="data-url=@{/devProjectContact/view(id=${item.id})}" type="button" class="btn btn-outline-primary btn-sm btn-view">详情</button>
                        <button sec:authorize="hasAuthority('devProjectContact:update')" th:attr="data-url=@{/devProjectContact/update(id=${item.id})}" type="button" class="btn btn-outline-primary btn-sm btn-form">编辑</button>
                        <button sec:authorize="hasAuthority('devProjectContact:delete')" th:attr="data-url=@{/devProjectContact/delete.json(id=${item.id})}" type="button" class="btn btn-outline-danger btn-sm btn-delete">删除</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    $(function (){
        initView();
        initForm(function ($modal, $html) {
            $html.find('[name="sfskh"]').on('change', function () {
                let val = $(this).val();
                if (val == '0') {
                    $html.find('#sfskh-0').removeClass('d-none');
                    $html.find('#sfskh-0 :input').prop('disabled', false);
                    $html.find('#sfskh-1').addClass('d-none');
                    $html.find('#sfskh-1 :input').prop('disabled', true);
                } else {
                    $html.find('#sfskh-1').removeClass('d-none');
                    $html.find('#sfskh-1 :input').prop('disabled', false);
                    $html.find('#sfskh-0').addClass('d-none');
                    $html.find('#sfskh-0 :input').prop('disabled', true);
                }
            });
            initAutoFill($html.find('.btn-load'));
        });
        initDelete();
    });
</script>
</body>
</html>