<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('devProject')"/>
<div class="container-fluid">
    <form th:action="@{/devProject/{action}(action=${action})}" th:object="${devProjectDTO}" method="post" class="py-4">
        <input type="hidden" th:field="*{id}"/>
        <div class="row">
            <div class="col-4 mb-3">
                <label class="form-label">项目名<i class="required"></i></label>
                <input type="text" th:field="*{xmmc}" class="form-control" required/>
            </div>
            <div class="col-4 mb-3">
                <label class="form-label">项目代码<i class="required"></i></label>
                <input type="text" th:field="*{xmdm}" class="form-control" required/>
            </div>
            <div class="col-4 mb-3">
                <label class="form-label">项目类型<i class="required"></i></label>
                <select th:field="*{xmlx}" class="form-control" required>
                    <option value="">请选择</option>
                    <option th:each="it:${#dicts.items('xmlx')}" th:value="${it.key}" th:text="${it.value}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-3">
                <label class="form-label">项目状态<i class="required"></i></label>
                <select th:field="*{xmzt}" class="form-control" required>
                    <option value="">请选择</option>
                    <option th:each="it:${#dicts.items('xmzt')}" th:value="${it.key}" th:text="${it.value}"></option>
                </select>
            </div>
            <div class="col-4 mb-3">
                <label class="form-label">预算金额(元)</label>
                <input type="number" th:field="*{ysje}" class="form-control"/>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">项目简介<i class="required"></i></label>
            <textarea th:field="*{xmjj}" class="form-control" rows="5" required></textarea>
        </div>
        <div class="row">
            <div class="col-4 mb-3">
                <label class="form-label">把握程度</label>
                <select th:field="*{nycd}" class="form-control">
                    <option value="">请选择</option>
                    <option th:each="it:${#dicts.items('bwcd')}" th:value="${it.key}" th:text="${it.value}"></option>
                </select>
            </div>
            <div class="col-4 mb-3">
                <label class="form-label">重要程度</label>
                <select th:field="*{zycd}" class="form-control">
                    <option value="">请选择</option>
                    <option th:each="it:${#dicts.items('zycd')}" th:value="${it.key}" th:text="${it.value}"></option>
                </select>
            </div>
            <div class="col-4 mb-3">
                <label class="form-label">紧急程度</label>
                <select th:field="*{jjcd}" class="form-control">
                    <option value="">请选择</option>
                    <option th:each="it:${#dicts.items('jjcd')}" th:value="${it.key}" th:text="${it.value}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-3">
                <label class="form-label">客户</label>
                <select th:field="*{customerId}" class="form-control">
                    <option value="">请选择</option>
                    <option th:each="it:${#dicts.items('DevCustomer')}" th:value="${it.key}" th:text="${it.value}"></option>
                </select>
            </div>
            <div class="col-4 mb-3">
                <label class="form-label">研发组</label>
                <select th:field="*{departmentId}" class="form-control">
                    <option value="">请选择</option>
                    <option th:each="it:${#dicts.items('DevDepartment')}" th:value="${it.key}" th:text="${it.value}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mb-3">
                <label class="form-label">计划开工日期</label>
                <input type="text" th:field="*{jhkgrq}" class="form-control"/>
            </div>
            <div class="col-4 mb-3">
                <label class="form-label">计划完工日期</label>
                <input type="text" th:field="*{jhwgrq}" class="form-control"/>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">备注</label>
            <textarea th:field="*{bz}" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
<script>
    $(function(){
        $('[name="jhkgrq"]').cxCalendar({format: 'Y-m-d'});
        $('[name="jhwgrq"]').cxCalendar({format: 'Y-m-d'});
        initAutocomplete('#customerId', ctxPath + 'devCustomer/list.json');
    });
</script>
</body>
</html>