<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.onelooker.kaleido.mapper.comic.ComicAuthorMapper">

    <select id="listBySeriesId" resultType="cc.onelooker.kaleido.entity.comic.ComicAuthorDO">
        select t1.*
        from comic_author t1
        inner join comic_series_author t2 on t1.id = t2.author_id
        where t2.series_id = #{seriesId}
    </select>
</mapper>
