<div class="modal fade" tabindex="-1" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">上传文件</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/fileInfo/upload.json}" th:object="${fileInfoDTO}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{bizId}"/>
                    <input type="hidden" th:field="*{bizTable}"/>
                    <div class="mb-3">
                        <label class="form-label">文件类型</label>
                        <select th:field="*{bizType}" class="form-control">
                            <option value="">请选择</option>
                            <option th:each="it:${#dicts.items('zllx')}" th:value="${it.key}" th:text="${it.value}"></option>
                        </select>
                    </div>
                    <div class="mt-3 mb-3">
                        <label class="form-label">文件<i class="required"></i></label>
                        <input th:field="*{file}" th:accept="*{accept}" type="file" class="form-control" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>