<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('basic')"/>
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-2">
            <div th:replace="common/menu::basic('dictionary')"></div>
        </div>
        <div class="col-10">
            <button id="btn-load" type="button" th:attr="data-url=@{/system/loadDictionary.json}" class="btn btn-primary">重载字典</button>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#btn-load').on('click', function () {
            let url = $(this).data('url');
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json'
            }).done(function (r) {
                if (r.resultCode == 0) {
                    alert('重载成功');
                } else {
                    alert('操作失败');
                }
            })
        })
    })
</script>
</body>
</html>