<div xmlns:th="http://www.thymeleaf.org" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">合同信息</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/devContract/{action}.json(action=${action})}" th:object="${devContractDTO}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{projectId}"/>
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">合同类型<i class="required"></i></label>
                            <select th:field="*{htlx}" class="form-control" required>
                                <option value="">请选择</option>
                                <option th:each="it:${#dicts.items('htlx')}" th:value="${it.key}" th:text="${it.value}"></option>
                            </select>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">合同编号</label>
                            <input type="text" th:field="*{htbh}" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <label class="form-label">合同名称<i class="required"></i></label>
                            <input type="text" th:field="*{htmc}" class="form-control" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">合同甲方<i class="required"></i></label>
                            <input type="text" th:field="*{jf}" class="form-control" required/>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">合同乙方<i class="required"></i></label>
                            <input type="text" th:field="*{yf}" class="form-control" required/>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">签订日期<i class="required"></i></label>
                            <input type="text" th:field="*{qdrq}" class="form-control" required/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">合同金额(元)<i class="required"></i></label>
                            <input type="number" th:field="*{htje}" class="form-control" required/>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">质保金(元)</label>
                            <input type="number" th:field="*{zbj}" class="form-control"/>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">是否能绩效分配<i class="required"></i></label>
                            <select th:field="*{sffpjx}" class="form-control" required>
                                <option th:each="it:${#dicts.items('sfbz')}" th:value="${it.key}" th:text="${it.value}"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>