<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('basic')"/>
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-2">
            <div th:replace="common/menu::basic('devApplyFlowSetting')"></div>
        </div>
        <div class="col-10">
            <div th:replace="common/menu::devApplyFlowSetting('devPerformanceAssignment')"></div>
            <div class="row mt-4">
                <div class="col-3">
                    <button th:if="${devApplyFlowSettingDTO==null}" sec:authorize="hasAuthority('devApplyFlowSetting:create')" th:attr="data-url=@{/devApplyFlowSetting/init.json(ywlx=devPerformanceAssignment)}" type="button" class="btn btn-primary btn-action">初始化</button>
                    <th:block th:replace="common/component::flowSetting(${devApplyFlowSettingDTO})"></th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        initForm(function ($m, $h){
            const $czzh = $h.find('#czzh');
            const username = $h.find('#username').val();
            $h.find('#czjs').on('change', function () {
                const val = $(this).val();
                $.ajax({
                    url: ctxPath + 'sysUser/listByRoleId.json',
                    data: {roleId: val},
                    dataType: 'json',
                }).done(function (respdata) {
                    if (respdata.resultCode == 0) {
                        $czzh.empty();
                        for (let item of respdata.data) {
                            $czzh.append('<option value="' + item.username + '" ' + (item.username == username ? 'selected' : '') + '>' + item.name + '</option>');
                        }
                    }
                })
            });
            $h.find('#czjs').trigger('change');
        });
        initDelete();
        initAction();
    });
</script>
</body>
</html>