<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>宏田开发中心</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}">
    <link th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/fontawesome/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/select2/css/select2.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/select2/css/select2-bootstrap-5-theme.min.css}" rel="stylesheet" />
    <link th:href="@{/static/plugins/cxCalendar/css/cxcalendar.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/jstree/themes/default/style.min.css}" rel="stylesheet">
    <link th:href="@{/static/style.css}" rel="stylesheet">

    <script th:src="@{/static/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/static/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!--    <script th:src="@{/static/plugins/fontawesome/js/all.min.js}"></script>-->
    <script th:src="@{/static/plugins/dayjs/dayjs.min.js}"></script>
    <script th:src="@{/static/plugins/dayjs/isoWeek.js}"></script>
    <script th:src="@{/static/plugins/select2/js/select2.js}"></script>
    <script th:src="@{/static/plugins/select2/js/i18n/zh-CN.js}"></script>
    <script th:src="@{/static/plugins/cxCalendar/js/cxcalendar.min.js}"></script>
    <script th:src="@{/static/plugins/jstree/jstree.min.js}"></script>
    <script th:src="@{/static/common.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let ctxPath = /*[[@{/}]]*/;
        /*]]>*/
    </script>
</head>
<body>
<main class="pb-5">
    <div layout:fragment="content">
    </div>
</main>
</body>
</html>