<div class="modal fade" tabindex="-1" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">考核指标</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/devExamineItem/{action}.json(action=${action})}" th:object="${devExamineItemDTO}" method="post" class="mt-4">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{examineId}"/>
                    <div class="mb-3">
                        <label class="form-label">指标<i class="required"></i></label>
                        <input type="text" th:field="*{zbmc}" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">分值<i class="required"></i></label>
                        <input type="number" th:field="*{fz}" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">绩效目标值<i class="required"></i></label>
                        <input type="text" th:field="*{zbsm}" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">适用岗位</label>
                        <select th:field="*{sygw}" class="form-control">
                            <option value="">全部</option>
                            <option th:each="it:${#dicts.items('gw')}" th:value="${it.key}" th:text="${it.value}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>