<div xmlns:th="http://www.thymeleaf.org" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">回款信息</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/devContractPayment/{action}.json(action=${action})}" th:object="${devContractPaymentDTO}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{contractId}"/>
                    <input type="hidden" th:field="*{htje}"/>
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">付款节点<i class="required"></i></label>
                            <select th:field="*{fkjd}" class="form-control" required>
                                <option value="">请选择</option>
                                <option th:each="it:${#dicts.items('fkjd')}" th:value="${it.key}" th:text="${it.value}"></option>
                            </select>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">付款比例(%)<i class="required"></i></label>
                            <input type="number" th:field="*{fkbl}" class="form-control" required/>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">付款金额(元)</label>
                            <input type="number" th:field="*{fkje}" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">是否已付款<i class="required"></i></label>
                            <select th:field="*{sffk}" class="form-control" required>
                                <option value="">请选择</option>
                                <option th:each="it:${#dicts.items('sfbz')}" th:value="${it.key}" th:text="${it.value}"></option>
                            </select>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">付款日期</label>
                            <input type="text" th:field="*{fkrq}" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>