<div class="modal fade" tabindex="-1" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">月度考核填报</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered mt-2 mb-4" th:object="${devExamineResultDTO}">
                    <tr>
                        <th:block th:replace="common/component::label('姓名', *{#dicts.value('devEmployee', employeeId)})"/>
                        <th:block th:replace="common/component::label('部门', *{#dicts.value('devDepartment', departmentId)})"/>
                        <th:block th:replace="common/component::label('岗位', *{#dicts.value('gw', gw)})"/>
                    </tr>
                    <tr>
                        <td class="col-1 bg-light text-end pe-3">考核分</td>
                        <td th:text="${khfs}" id="khfs" class="col-5" colspan="5"></td>
                    </tr>
                </table>
                <form th:action="@{/devExamineResult/score.json}" method="post">
                    <table class="table table-bordered">
                        <tr>
                            <th class="col-2">指标名称</th>
                            <th class="col-1">分值</th>
                            <th class="col-3">指标说明</th>
                            <th class="col-1">得分系数</th>
                            <th class="col-1">实际得分</th>
                            <th class="col-2">意见点评</th>
                        </tr>
                        <tr th:each="item:${devExamineItemDTOList}">
                            <td th:text="${item.zbmc}"></td>
                            <td th:text="${item.fz}"></td>
                            <td th:text="${item.zbsm}"></td>
                            <td>
                                <input th:value="${item.devExamineItemResultDTO.dfxs}" th:attr="data-fz=${item.fz}" type="number" name="dfxs" step="0.1" max="1.1" class="form-control" required />
                            </td>
                            <td>
                                <input th:value="${item.devExamineItemResultDTO.sjdf}" type="number" name="sjdf" class="form-control" required />
                            </td>
                            <td>
                                <input type="text" name="khyj" class="form-control"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>