<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('examine')"/>
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-2">
            <div th:replace="common/menu::examine('month')"></div>
        </div>
        <div class="col-10">
            <table class="table mt-3">
                <tr>
                    <th>序号</th>
                    <th>部门</th>
                    <th>员工</th>
                    <th>岗位</th>
                    <th>考核分</th>
                    <th>填报时间</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.isEmpty(devExamineResultDTOList)}">
                    <td colspan="7" class="text-center">没有符合条件的记录</td>
                </tr>
                <tr th:each="item:${devExamineResultDTOList}">
                    <td th:text="${itemStat.count}"></td>
                    <td th:text="${#dicts.value('devDepartment', item.departmentId)}"></td>
                    <td th:text="${#dicts.value('devEmployee', item.employeeId)}"></td>
                    <td th:text="${#dicts.value('gw', item.gw)}"></td>
                    <td th:text="${item.khfs}"></td>
                    <td th:text="${#strings.defaultString(#datetimes.format(item.tbsj), '--')}"></td>
                    <td>
                        <button sec:authorize="hasAuthority('devExamineResult:score')" th:attr="data-url=@{/devExamineResult/score(id=${item.id})}" type="button" class="btn btn-outline-primary btn-sm btn-form">填报</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        initForm();
    });
</script>
</body>
</html>