<div xmlns:th="http://www.thymeleaf.org" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">绩效发放</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/devPerformanceAssignment/{action}.json(action=${action})}" th:object="${devPerformanceAssignmentDTO}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{projectId}"/>
                    <div class="mb-3">
                        <label class="form-label">分配批次<i class="required"></i></label>
                        <input type="number" th:field="*{fppc}" class="form-control" required/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">分配金额(元)<i class="required"></i></label>
                        <input type="number" th:field="*{fpje}" class="form-control" required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>