<div xmlns:th="http://www.thymeleaf.org" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">绩效分配</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <th>发放节点</th>
                        <th>发放比例</th>
                        <th>发放金额</th>
                    </tr>
                    <tr th:each="item:${devPerformanceScheduleDTOList}">
                        <td th:text="${item.ffjd}"></td>
                        <td th:text="${#numbers.formatPercent(item.ffbl, 0, 0)}"></td>
                        <td th:text="${#numbers.formatCurrency(item.ffje)}"></td>
                    </tr>
                </table>
                <form th:action="@{/devPerformanceAssignment/assign.json}" method="post">
                    <input type="hidden" name="id" th:value="${#request.getParameter('id')}"/>
                    <th:block th:each="it:${devPerformanceScheduleDTOList}">
                        <input th:if="${it.id!=null}" type="hidden" name="scheduleId" th:value="${it.id}"/>
                    </th:block>
                    <table class="table table-bordered">
                        <tr>
                            <th rowspan="2">姓名</th>
                            <th rowspan="2">状态</th>
                            <th rowspan="2" class="col-2">分配比例(<span id="fpbl">-</span>%)</th>
                            <th class="col-6" th:colspan="${#lists.size(devPerformanceScheduleDTOList)}">分配金额</th>
                        </tr>
                        <tr>
                            <th th:each="item:${devPerformanceScheduleDTOList}" th:text="${item.ffjd}"></th>
                        </tr>
                        <tr th:each="item:${devPerformanceDetailDTOList}">
                            <td th:text="${item.devEmployeeDTO.xm}"></td>
                            <td th:class="${item.devEmployeeDTO.zt!='1'?'text-danger':''}" th:text="${#dicts.value('ygzt', item.devEmployeeDTO.zt)}"></td>
                            <td>
                                <input th:value="${item.devEmployeeDTO.id}" type="hidden" name="employeeId" />
                                <input th:value="${#numbers.formatDecimal(item.fpbl, 1, 2)}" type="number" name="fpbl" step="0.01" max="1" class="form-control"  />
                            </td>
                            <td th:each="it:${devPerformanceScheduleDTOList}">
                                <input th:attr="data-money=${it.ffje}" th:value="${#numbers.formatDecimal(it.ffje * item.fpbl, 1, 2)}" type="number" name="fpje" class="form-control" readonly/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>