<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">联系人</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/devProjectContact/{action}.json(action=${action})}" th:object="${devProjectContactDTO}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{projectId}"/>
                    <input type="hidden" th:field="*{customerContactId}" data-fill-prop="id"/>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label">是否为客户</label>
                            <div>
                                <div class="form-check form-check-inline" th:each="it:${#dicts.items('sfbz')}">
                                    <input class="form-check-input" type="radio" th:field="*{sfskh}" th:value="${it.key}">
                                    <label class="form-check-label" th:text="${it.value}">是</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sfskh-1" class="row" th:classappend="*{sfskh=='1'}?'':'d-none'">
                        <div class="col mb-3">
                            <label class="form-label">客户<i class="required"></i></label>
                            <select th:field="*{customerId}" data-find-prop="customerId" class="form-control" required>
                                <option value="">请选择</option>
                                <option th:each="it:${#dicts.items('DevCustomer')}" th:value="${it.key}" th:text="${it.value}"></option>
                            </select>
                        </div>
                    </div>
                    <div id="sfskh-0" class="row" th:classappend="*{sfskh=='0'}?'':'d-none'">
                        <div class="col mb-3">
                            <label class="form-label">工作单位</label>
                            <input type="text" th:field="*{gzdw}" data-find-prop="gzdw" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label">姓名<i class="required"></i></label>
                            <div class="input-group">
                                <input type="text" th:field="*{xm}" data-find-prop="xm" class="form-control" required>
                                <button class="btn btn-outline-secondary btn-load" th:attr="data-url=@{/devCustomerContact/find.json}" type="button">调取</button>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label">联系电话</label>
                            <input type="text" th:field="*{lxdh}" data-fill-prop="lxdh" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label">部门</label>
                            <input type="text" th:field="*{bm}" data-fill-prop="bm" class="form-control" />
                        </div>
                        <div class="col mb-3">
                            <label class="form-label">职务</label>
                            <input type="text" th:field="*{zw}" data-fill-prop="zw" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label">负责事宜<i class="required"></i></label>
                            <textarea th:field="*{fzsy}" class="form-control" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>