<div class="modal fade" tabindex="-1" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">月度考核</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/devExamineMonth/{action}.json(action=${action})}" th:object="${devExamineMonthDTO}" method="post" class="mt-4">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="mb-3">
                        <label class="form-label">考核月度<i class="required"></i></label>
                        <input type="text" th:field="*{khyd}" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">办法名称<i class="required"></i></label>
                        <select th:field="*{examineId}" class="form-control" required>
                            <option th:each="it:${#dicts.items('devExamine')}" th:value="${it.key}" th:text="${it.value}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">考核部门<i class="required"></i></label>
                        <select th:field="*{departmentId}" class="form-control" required>
                            <option th:each="it:${#dicts.items('devDepartment')}" th:value="${it.key}" th:text="${it.value}"></option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">保存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>