<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<body layout:fragment="content">
<nav th:replace="common/nav::nav('examine')"/>
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-2">
            <div th:replace="common/menu::examine('month')"></div>
        </div>
        <div class="col-10">
            <form th:action="@{/devExamineMonth/list}" th:object="${devExamineMonthDTO}" method="get">
                <div class="row">
                    <div class="col-sm-2">
                        <input th:field="*{khyd}" placeholder="考核月度" class="form-control"/>
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary">查询</button>
                    </div>
                    <div class="col-sm text-end">
                        <button sec:authorize="hasAuthority('devExamineMonth:create')" th:attr="data-url=@{/devExamineMonth/create(fid=${#request.getParameter('id')})}" type="button" class="btn btn-primary btn-form">新增</button>
                    </div>
                </div>
            </form>
            <table class="table mt-3">
                <tr>
                    <th>序号</th>
                    <th>考核月度</th>
                    <th>考核部门</th>
                    <th>考核状态</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.isEmpty(pageData.records)}">
                    <td colspan="8" class="text-center">没有符合条件的记录</td>
                </tr>
                <tr th:each="item:${pageData.records}">
                    <td th:text="${itemStat.count}"></td>
                    <td th:text="${item.khyd}"></td>
                    <td th:text="${#dicts.value('devDepartment', item.departmentId)}"></td>
                    <td></td>
                    <td>
                        <a sec:authorize="hasAuthority('devExamineMonth:view')" th:href="@{/devExamineMonth/view(id=${item.id})}" class="btn btn-outline-primary btn-sm">详情</a>
                        <button sec:authorize="hasAuthority('devExamineMonth:delete')" th:attr="data-url=@{/devExamineMonth/delete.json(id=${item.id})}" type="button" class="btn btn-outline-danger btn-sm btn-delete">删除</button>
                    </td>
                </tr>
            </table>
            <div th:replace="common/pagination::paginate(${pageData})"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        initForm();
        initDelete();
    });
</script>
</body>
</html>